body{
    text-align: center;
    background-color: lightblue
    
}

.flex-container {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.computer-container {
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 200px;
}
